:root {
  --color-bg: #643;
  --color-text: white;
  --color-accent: orange;
  --color-invalid: red;

  --card-height: 5em;
  --card-radius: 0.3em;

  --transition-fast: 0.3s;
  --transition-medium: 0.5s;
  --transition-slow: 1s;
}
html,
body {
  overscroll-behavior: none;
}
body {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--color-bg) url(../img/bg.jpg) 50% 0 / auto 100vh;
  color: var(--color-text);
  font: 2.5vh "Open Sans", sans-serif;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px black;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}
@supports (-webkit-hyphens: auto) { /* ios hack */
  html {
    overflow: hidden;
  }
  body {
    overflow-y: auto;
  }
}
img {
  display: block;
}
option {
  background: black;
}
p {
  margin-top: 0;
  text-align: left;
  white-space: pre-line;
}
.app-title {
  font: 3.8em "Edo", sans-serif;
  margin: 0;
}
.bold {
  font-weight: bold;
}
.button,
.dropdown {
  border-radius: 9em;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  text-shadow: inherit;
  transition: var(--transition-fast);
}
.button:focus,
.dropdown:focus {
  box-shadow: 0 0 0.3em 0.2em var(--color-accent);
  outline: 0;
}
:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
:user-invalid {
  box-shadow: 0 0 0.1em 0.1em var(--color-invalid);
}
.button {
  background: none;
  border: 1px solid;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.1em 0.5em;
  white-space: nowrap;
}
.button-bar {
  display: flex;
  position: relative;
  font-size: 0.8em;
  justify-content: space-around;
  margin: 0.3em 0;
}
.button-margin {
  margin-top: 0.5em;
}
.button-help {
  cursor: help;
}
.card,
.deck,
.table-reset {
  cursor: pointer;
  transition: var(--transition-medium);
  transition-property: box-shadow, color;
}
.card-animated,
.deck,
.slot {
  height: var(--card-height);
  border-radius: var(--card-radius);
}
.card {
  height: 100%;
  animation: var(--transition-medium) fade-in;
  border-radius: inherit;
  box-shadow: 0 0 0.5em currentcolor;
  transform: translateZ(1px);
}
.card-animated {
  position: absolute;
  z-index: 29;
}
.deck {
  box-shadow:
    0.15em 0.15em 0 0.1em #333,
    0.3em 0.3em 0 0.1em #333,
    0.15em 0.15em 0.5em 0.3em currentcolor;
}
.table-reset {
  height: 3em;
  border-radius: 9em;
  box-shadow: 0 0 0.5em currentcolor;
}
.card-alt-name {
  font-style: italic;
}
.card-name {
  font-size: 1.2em;
  font-weight: bold;
}
.card-small-text {
  font-size: 0.8em;
  font-style: italic;
}
.column {
  max-width: 100vh;
}
.decor {
  position: absolute;
  height: 100%;
  right: 0;
  pointer-events: none;
  transform: translateX(50%);
  z-index: -1;
}
.details {
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  padding: 0.5em;
}
.details-card-image {
  height: 15em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px;
  cursor: zoom-in;
  margin: 10px auto;
}
.details-content {
  flex: 1;
}
.dropdown {
  width: 100%;
  appearance: none;
  background: rgba(0, 0, 0, 0.5) url(../img/arrow.svg) no-repeat right 0.3em center / 1em;
  border: 0;
  margin-top: 0.3em;
  padding: 0.2em 1.2em 0.2em 0.6em;
  text-align: center;
  white-space: normal;
}
.fade-in {
  animation: var(--transition-medium) fade-in;
}
.header {
  font-size: 0.8em;
}
.hidden {
  display: none;
}
.intro {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
.loading-icon {
  height: 3em;
  animation: 1s infinite spin, 1s 0.2s backwards fade-in;
  cursor: wait;
}
.main {
  display: flex;
  flex-direction: column;
}
.main-column {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.6em 0.2em;
  z-index: 9;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  animation: var(--transition-medium) fade-in;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
}
.modal-content {
  width: 100%;
  height: 100%;
  animation: var(--transition-medium) zoom-in;
  object-fit: contain;
}
.modal-image {
  cursor: zoom-out;
  padding: 1em;
}
.scrollable {
  border-radius: 0.5em;
  box-shadow: 0 -1.2em 0.8em -1em inset;
  overflow-y: auto;
  touch-action: pan-y;
}
.selected {
  box-shadow: 0 0 0.3em 0.2em var(--color-accent);
}
.slot,
.table {
  transform-style: preserve-3d;
}
.slot {
  position: absolute;
  top: -20em;
  left: 50%;
  min-width: 2.7em;
  box-shadow: 0 0 0.8em inset;
  transform: translate(-50%, -50%);
  transition: var(--transition-slow);
  will-change: top;
}
.slot span {
  position: absolute;
  top: 0;
  left: 105%;
  font: 1.5em / 0 "Edo", sans-serif;
}
.smart-title:not(:empty)::before {
  content: attr(data-title);
  display: block;
  font-weight: bold;
  text-align: center;
}
.table {
  animation: 3s ease-in-out fade-in;
  flex: 1;
  z-index: -1;
}
.table-element {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}
.table-element:hover {
  color: var(--color-accent);
}
.title {
  font: 1.8em "Edo", sans-serif;
}
.tooltip {
  display: none;
  position: absolute;
  top: 120%;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 1.5em;
  padding: 10px;
}
.button-help:hover ~ .tooltip {
  display: block;
}
.error {
  position: fixed;
  width: 100%;
  background: #b43;
  font-weight: bold;
  padding: 12px;
  z-index: 99;
}
@keyframes spin {
  0% {
    transform: rotate(1turn);
  }
}
@media screen and (orientation: landscape) {
  .details {
    position: static;
  }
  @media (max-height: 600px) {
    body {
      font-size: 3.5vh;
    }
    .main {
      flex-direction: row;
    }
  }
}
[data-spread="cross"] .s1 {top: 50%; left: 37%}
[data-spread="cross"] .s2 {top: 50%; left: 37%; transform: translate(-50%, -50%) rotate(90deg); transform-origin: 25% 66%}
[data-spread="cross"] .s3 {top: 20%; left: 37%}
[data-spread="cross"] .s4 {top: 80%; left: 37%}
[data-spread="cross"] .s5 {top: 50%; left: 14%}
[data-spread="cross"] .s6 {top: 50%; left: 60%}
[data-spread="cross"] .s7 {top: 86%; left: 83%}
[data-spread="cross"] .s8 {top: 62%; left: 83%}
[data-spread="cross"] .s9 {top: 38%; left: 83%}
[data-spread="cross"] .s10 {top: 14%; left: 83%}
[data-spread="faust"] .s1, [data-spread="disorder"] .s2, [data-spread="marriage"] .s4 {top: 65%; left: 20%}
[data-spread="faust"] .s2, [data-spread="disorder"] .s1, [data-spread="marriage"] .s1 {top: 20%}
[data-spread="faust"] .s3, [data-spread="disorder"] .s3, [data-spread="marriage"] .s5 {top: 65%; left: 80%}
[data-spread="faust"] .s4, [data-spread="disorder"] .s4, [data-spread="marriage"] .s2 {top: 35%; left: 20%}
[data-spread="faust"] .s5, [data-spread="disorder"] .s6, [data-spread="marriage"] .s6 {top: 80%}
[data-spread="faust"] .s6, [data-spread="disorder"] .s5, [data-spread="marriage"] .s3 {top: 35%; left: 80%}
[data-spread="faust"] .s7, [data-spread="disorder"] .s7 {top: 50%}
[data-spread="problem"] .s1 {top: 30%}
[data-spread="problem"] .s2 {top: 65%; left: 25%}
[data-spread="problem"] .s3 {top: 65%}
[data-spread="problem"] .s4 {top: 65%; left: 75%}
[data-spread="progress"] .s1 {top: 50%; left: 20%}
[data-spread="progress"] .s2 {top: 50%; left: 40%}
[data-spread="progress"] .s3 {top: 50%; left: 60%}
[data-spread="progress"] .s4 {top: 20%; left: 20%}
[data-spread="progress"] .s5 {top: 20%; left: 40%}
[data-spread="progress"] .s6 {top: 20%; left: 60%}
[data-spread="progress"] .s7 {top: 80%; left: 45%}
[data-spread="progress"] .s8 {top: 80%; left: 65%}
[data-spread="progress"] .s9 {top: 80%; left: 85%}
[data-spread="progress"] .s10 {top: 80%; left: 20%}
[data-spread="solution"] .s1, [data-spread="station"] .s1 {top: 50%}
[data-spread="solution"] .s2, [data-spread="station"] .s7 {top: 25%; left: 30%}
[data-spread="solution"] .s3, [data-spread="station"] .s2 {top: 25%; left: 70%}
[data-spread="solution"] .s4, [data-spread="station"] .s6 {top: 50%; left: 30%}
[data-spread="solution"] .s5, [data-spread="station"] .s3 {top: 50%; left: 70%}
[data-spread="solution"] .s6, [data-spread="station"] .s5 {top: 75%; left: 30%}
[data-spread="solution"] .s7, [data-spread="station"] .s4 {top: 75%; left: 70%}
[data-spread="swing"] .s1 {top: 20%; left: 25%}
[data-spread="swing"] .s2 {top: 35%; left: 20%}
[data-spread="swing"] .s3 {top: 50%; left: 25%}
[data-spread="swing"] .s4 {top: 65%; left: 20%}
[data-spread="swing"] .s5 {top: 80%; left: 25%}
[data-spread="swing"] .s6 {top: 20%; left: 75%}
[data-spread="swing"] .s7 {top: 35%; left: 80%}
[data-spread="swing"] .s8 {top: 50%; left: 75%}
[data-spread="swing"] .s9 {top: 65%; left: 80%}
[data-spread="swing"] .s10 {top: 80%; left: 75%}
[data-spread="swing"] .s11 {top: 50%}
[data-spread="choice"] .s1 {top: 50%; left: 20%}
[data-spread="choice"] .s2 {top: 30%; left: 40%}
[data-spread="choice"] .s3 {top: 30%; left: 60%}
[data-spread="choice"] .s4 {top: 30%; left: 80%}
[data-spread="choice"] .s5 {top: 70%; left: 40%}
[data-spread="choice"] .s6 {top: 70%; left: 60%}
[data-spread="choice"] .s7 {top: 70%; left: 80%}
[data-spread="free"] .s1 {top: 20%; left: 20%}
[data-spread="free"] .s2 {top: 20%; left: 40%}
[data-spread="free"] .s3 {top: 20%; left: 60%}
[data-spread="free"] .s4 {top: 20%; left: 80%}
[data-spread="free"] .s5 {top: 50%; left: 20%}
[data-spread="free"] .s6 {top: 50%; left: 40%}
[data-spread="free"] .s7 {top: 50%; left: 60%}
[data-spread="free"] .s8 {top: 50%; left: 80%}
[data-spread="free"] .s9 {top: 80%; left: 20%}
[data-spread="free"] .s10 {top: 80%; left: 40%}
[data-spread="free"] .s11 {top: 80%; left: 60%}
[data-spread="free"] .s12 {top: 80%; left: 80%}
[data-spread="one"] .s1 {top: 50%}
