@font-face {
	font-family: Edo;
	font-display: swap;
	src: url(edo.woff2);
}

@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-display: swap;
	src: url(OpenSans-Regular.woff2);
}

@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	font-display: swap;
	src: url(OpenSans-Bold.woff2);
}

body {
	margin: 0;
	-webkit-text-size-adjust: none;
}

*, ::before, ::after {
	box-sizing: border-box;
}
